.admin-layout {
  width: 100%;
  min-height: 100dvh;
}

.admin-layout__main-area,
.admin-layout__content {
  width: 100%;
  min-width: 0;
}

.admin-layout__content {
  min-height: calc(100dvh - 74px);
  background: #faf3e1;
}
